<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My AngularJS App</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/tether/dist/js/tether.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"/>
    <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
    <link rel="stylesheet" href="app.css">
</head>
<body>

<div ng-app="myApp" class="container" ng-controller="EmitStateController">
    <div ng-hide="isLogged">
        <form name="loginForm">
            <div class="form-group">
                <label for="login">Login:</label>
                <input type="text" class="form-control has-error" id="login"
                       ng-model="login" ng-required="true">
            </div>
            <div class="form-group">
                <label for="pwd">Password:</label>
                <input type="password" class="form-control" id="pwd"
                       ng-model="password" ng-required="true">
            </div>
            <p ng-show="loginError">Incorrect login or password</p>
            <button type="submit" class="btn btn-primary btn-block"
                    ng-click="loginForm.$valid && signIn()">Sign in
            </button>
        </form>
    </div>
    <div ng-show="isLogged">
        <div class="header">
            <div class="login">Welcome {{login}}!</div>
           <div ng-click="changeEmissionState()" class="switch"></div>
        </div>
        <div>
           <!-- <button ng-click="changeEmissionState()" class="btn btn-block btn-success">{{emissionState}}</button>-->
            <button ng-click="redirect()" class="btn btn-block btn-primary btn-md">Go to website</button>
            <button class="btn btn-block btn-primary btn-md" ng-click="signOut()">Sign out</button>
        </div>
    </div>
</div>

<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="app.js"></script>
<script src="index/indexController.js"></script>
<script src="background/trackingService.js"></script>
<script src="background/storageService.js"></script>
<script src="components/version/version.js"></script>
<script src="components/version/version-directive.js"></script>
<script src="components/version/interpolate-filter.js"></script>
</body>
</html>