index-comp{
  .transbox {
    font-weight: bold;
    width: 75%;
    margin: 0 auto;
    background-color: #21314a;
    color: #ffffff;

    .timelineSettings-container {
      padding: 20px;
      background-color: #21314a;
      color: #ffffff;
      border: 1px solid rgba(0, 0, 0, 0.18);
      margin-bottom: 10px;

      .timeline-button {
        float: right;
      }
    }
  }
}