index-comp{

  .bc {
    background-color: #21314a;
    width: 100%;
  }
  .transbox {
    font-weight: bold;
    width: 75%;
    margin-left: 15%;
    background-color: #080b35 !important;
    color: #ffffff;

    .timelineSettings-container {
      padding: 20px;
      color: #ffffff;
      border: 1px solid rgba(0, 0, 0, 0.18);
      margin-bottom: 10px;

      .timeline-button {
        margin: 0px;
      }

      .timeline-button1 {
        margin: 10px;
      }

      .exel {
        background-color: #21314a;
        width: 50%;
        margin: 5%;
      }


    }
    }

  .table {
    width: 80%;
  }


  }
