<html>
<body>
<script type = "text/javascript">

function createCORSRequest(method, url) {
  var xhr = new XMLHttpRequest();
  if ("withCredentials" in xhr) {
    // Check if the XMLHttpRequest object has a "withCredentials" property.
    // "withCredentials" only exists on XMLHTTPRequest2 objects.
    xhr.open(method, url, true);
  } else if (typeof XDomainRequest != "undefined") {

    // Otherwise, check if XDomainRequest.
    // XDomainRequest only exists in IE, and is IE's way of making CORS requests.
    xhr = new XDomainRequest();
    xhr.open(method, url);

  } else {

    // Otherwise, CORS is not supported by the browser.
    xhr = null;

  }
  return xhr;
}
function gget() {
	var xhr = createCORSRequest('GET', "http://localhost:9000/users");
	if (!xhr) {
	  throw new Error('CORS not supported');
	}
	xhr.send(); 
}
</script>
hello
<div  id="demo"></div>
<button type="submit" onclick=gget()>Submit</button>
</body>
</html>