timeline-comp{

  .transbox {
    font-weight: bold;
    background-color: #21314a;
    color: #ffffff;
    width: 100%;
    margin: 0 auto;

    .timelineSettings-container {
      color: #3D3D3D;
      padding: 20px;
      background-color: #21314a;
      color: #ffffff;
      border: 1px solid rgba(0, 0, 0, 0.18);
      margin-bottom: 10px;

      .timeline-button {
        float: right;
      }
    }
  }

}
