menu-comp{
  .horizontal-menu {
    margin: 20px;
    padding: 0;
    text-align: center;
    ul {
      list-style: none;
      display: inline-block;
    }

    li {
      display: inline-block;
      width: auto;
      position: relative;

    }

    li:hover a {
      background: rgb(73,165,191);
    }

    a {
      background: rgb(83,175,201);
      color: #FFFFFF;
      display: block;
      padding: 10px 25px;
      text-align: center;
      text-decoration: none;
    }

  }

}
