settings-comp{
  .container {
    color: #ffffff;
  }

  .usernameSettings-container {
    left: 20%;
  }

  .Settings-container {
    float: right !important;
    margin: 30px !important;
  }

  .col-md-3 {
    border-radius: 22px;
    margin: 20px;
  }


}