settings-comp{

  .bc {
    background-color: #21314a;
    width: 100%;
  }
  .container {
    color: #ffffff;
    width: 75%;
    margin-left: 15%;
    background-color: #080b35 !important;
  }

  .usernameSettings-container {
    left: 20%;
  }

  .Settings-container {
    float: left !important;
    margin-top: 80px !important;
  }

  .col-md-3 {
    border-radius: 22px;
    margin: 20px;
  }


}