privileges-comp{

  .privileges-container {
       color: #ffffff;
  }

  .transbox {
    font-weight: bold;
    width: 90%;
    margin: 0 auto;
  }

  .background {
    padding-bottom: 20px;
  }
  .container {
    margin-top: 50px;
  }

  .col-md-3 {
    margin-top: 5px;

  }


}
