<header-comp></header-comp>
<menu-comp></menu-comp>

<div class="background">
    <div class="col-md-12">
        <div class="transbox">
            <div class="privileges-container">
                <ul class="nav nav-tabs ">
                    <li class="active"><a href="#" (click) = "changePartView(1)">My privileges</a></li>
                    <li><a href="#" (click) = "changePartView(2)">Others privileges</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="test"></div>
<div id="firstPrivilegesPart" [hidden]="firstPrivilegesPartView">
    <div class="container">
        <div class="privilegesAddForm-container">
            <form (ngSubmit)="onSubmit()" #privilegesAddForm="ngForm">
                <div class="form-group">
                    <h2><label for="login">Add user</label></h2>
                    <div class="col-md-3">
                        <input type="text"  class="form-control" required [(ngModel)] = "model.login" name = "login"  value = "" placeholder="Nick">
                    </div>
                </div>
                <button type="submit" style="float:left;margin-top:0px;" class="btn btn-primary privileges-button" [disabled]="!privilegesAddForm.form.valid" (click) = "addPrivRequest(privilegesAddForm)" >Submit</button>
            </form>
        </div>
    </div>
    <div class="container">
        <h2>Users that You requested for adding</h2>
            <table class="table table-striped">
                <thead>
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Nick</th>
            <th>Cancel</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of invitationsTable; let i = index">
            <td>{{item[0]}}</td>
            <td>{{item[1]}}</td>
            <td>{{item[2]}}</td>
            <td><button type="button" (click)="sendPrivReq('decline', 'privReq', item[2]);" >&#10008;</button></td>
        </tr>
        </tbody>
            </table>
    </div>
    <form>
        <div class="container">
            <h2>Users that You added</h2>
            <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Nick</th>
                    <th>Estimated hours</th>
                    <th>Confirm</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of accInvitationsTable; let i = index">
                    <td>{{item[0]}}</td>
                    <td>{{item[1]}}</td>
                    <td>{{item[2]}}</td>
                    <td><input type="number" value = "{{item[3]}}"></td>
                    <td><button type="button">&#10004;</button></td>
                    <td><button type="button" (click)="sendPrivReq('deleteto', 'privList', item[2]);">&#10008;</button></td>
                </tr>
            </tbody>
            </table>
        </div>
    </form>

</div>
<div id="secondPrivilegesPart" [hidden]="secondPrivilegesPartView">
    <div class="container">
        <h2>Users that requested for adding You</h2>
        <table class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Nick</th>
            <th>Decision</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of othersInvitationsTable; let i = index">
            <td>{{item[0]}}</td>
            <td>{{item[1]}}</td>
            <td>{{item[2]}}</td>
            <td><button type="button" (click)="sendPrivReq('acceptrequest', 'othersPrivReq', item[2]);">&#10004;</button>
                <button type="button" (click)="sendPrivReq('decrequest', 'othersPrivReq', item[2]);">&#10008;</button></td>
        </tr>
        </tbody>
        </table>
    </div>
    <div class="container">
        <h2>Users that added You</h2>
        <table class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Nick</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of othersAccInvitationsTable; let i = index">
            <td>{{item[0]}}</td>
            <td>{{item[1]}}</td>
            <td>{{item[2]}}</td>
            <td><button type="button" (click)="sendPrivReq('deletefrom', 'othersPrivList', item[2]);">&#10008;</button></td>
        </tr>
        </tbody>
        </table>
    </div>
</div>