privileges-comp{

  .bc {
    background-color: #21314a;
    width: 100%;
  }

  .privileges-container {
       color: #ffffff;
  }

  .transbox {
    font-weight: bold;
    color: #ffffff;
    width: 75%;
    margin-left: 15%;
    background-color: #080b35 !important;
  }

  .background {
    padding-bottom: 20px;
  }
  .container {
    margin-top: 50px;
  }

  .table {
    width: 85%;
  }

  .col-md-3 {
    margin-top: 5px;

  }


}
